* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  background-size: cover !important;
}

body {
}

.header {
  width: 400px;
  background: #004D6D;
  padding: 20px;
  margin: 20px auto;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: black;
}

.loaded {
  width: 0%;
  animation-duration: .7s;
  animation-name: slideout;
  animation-iteration-count: 1;
}

@keyframes slideout {
  from {
    width: 100%;
  }

  to {
    width: 0%;
    display: none;
  }
}

.weather-status-icon {
  text-align: center;
}

.icon {
  height: 200px;
  width: 200px;
  fill: white;
  margin: 0 auto;
}

.weather-element__temp {
  font-size: 4em;
  text-align: center;
  margin: 0;
  padding: 0
}

.wind-unit {
  display: flex;
  flex-direction: row;
}
