* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
}

.header {
  width: 400px;
  background: blue;
  height: 100vh;
}

.loader {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: purple;
}

.loaded {
  display: none;
}
